<div class="rank-container">
  <% @ranks.each.with_index(1) do |book, i| %>
  <div class="rank-box">
    <%= i %>位
    <div class="card shadow-lg">
      <%= link_to book_path(book) do %>
        <%= attachment_image_tag book, :image, :fill, 200, 120, class:"card-img-top"; %>
      <% end %>
      <%= link_to user_path(book.user) do %>
        <span class="account ml-2 mt-2">By <%= book.user.account %></span>
      <% end %>
      <div class="card-body pt-1 pb-1">
        <p class="card-title mb-0">◆<%= cook.name.truncate(10) %></p>
        <p class="mb-1"><%= book.comment.truncate(13) %></p>
        <div class="row border-top m-auto">
          <div class="col-6">
            <%= link_to user_path(book.user) do %>
            <%= attachment_image_tag book.user, :account_image, :fill, 50, 50, fallback: "no_image.jpg", class:" rounded-circle no-image"; %><br>
            <% end %>
          </div>
          <div class="col-5 offset-1 pt-3">
            <%= link_to "詳細", book_path(book), class: "btn btn-sm btn-dark" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>